header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.rese {
  color: #0000FF;
}


#btn_menu8 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-color: #0000FF;
  transition: background-color 0.3s ease;
}

#btn_menu8::before {
  position: absolute;
  top: 30%;
  left: 25%;
  display: block;
  content: "";
  width: 50%;
  height: 2px;
  background: #f7f7f7;
  transform: rotate(0deg);
  transition: transform 0.3s ease, top 0.1s ease;
}

#btn_menu8 span {
  position: absolute;
  top: calc(50% - 1px);
  left: 25%;
  display: block;
  overflow: hidden;
  width: 60%;
  height: 2px;
  color: #f7f7f7;
  opacity: 1;
  background-color: #f7f7f7;
  transition: opacity 0.1s ease;
}

#btn_menu8::after {
  position: absolute;
  bottom: 30%;
  left: 25%;
  display: block;
  content: "";
  width: 20%;
  height: 2px;
  background: #f7f7f7;
  transform: rotate(0deg);
  transition: transform 0.3s ease, bottom 0.1s ease, width 0.3s ease;
}

#btn_menu8:hover {
  background-color: #555;
}

#btn_menu8.active::before {
  top: calc(50% - 1px);
  transform: rotate(135deg);
}

#btn_menu8.active span {
  opacity: 0;
}

#btn_menu8.active::after {
  width: 50%;
  bottom: calc(50% - 1px);
  transform: rotate(-135deg);
}

.menu-button {
  margin-right: 100px;
}




.user[data-v-40d1da2a] {
  font-weight: 700;
  text-align: center;
  margin-top: 80px;
}

.userName[data-v-40d1da2a] {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

/* font-family { */
/* Font Awesome 5 Free; */
/* } */

.contain[data-v-40d1da2a],
.like[data-v-40d1da2a] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

p[data-v-40d1da2a] {
  text-align: left;
}

.reserve[data-v-40d1da2a] {
  width: 40%;
  margin-left: 40px;
}

.title[data-v-40d1da2a] {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 50px;
}

.likes[data-v-40d1da2a] {
  text-align: left;
  width: 55%;
}

.title[data-v-40d1da2a] {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 50px;
}