#btn_menu8 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-color: #0000FF;
  transition: background-color 0.3s ease;
}

#btn_menu8::before {
  position: absolute;
  top: 30%;
  left: 25%;
  display: block;
  content: "";
  width: 50%;
  height: 2px;
  background: #f7f7f7;
  transform: rotate(0deg);
  transition: transform 0.3s ease, top 0.1s ease;
}

#btn_menu8 span {
  position: absolute;
  top: calc(50% - 1px);
  left: 25%;
  display: block;
  overflow: hidden;
  width: 60%;
  height: 2px;
  color: #f7f7f7;
  opacity: 1;
  background-color: #f7f7f7;
  transition: opacity 0.1s ease;
}

#btn_menu8::after {
  position: absolute;
  bottom: 30%;
  left: 25%;
  display: block;
  content: "";
  width: 20%;
  height: 2px;
  background: #f7f7f7;
  transform: rotate(0deg);
  transition: transform 0.3s ease, bottom 0.1s ease, width 0.3s ease;
}

#btn_menu8:hover {
  background-color: #555;
}

#btn_menu8.active::before {
  top: calc(50% - 1px);
  transform: rotate(135deg);
}

#btn_menu8.active span {
  opacity: 0;
}

#btn_menu8.active::after {
  width: 50%;
  bottom: calc(50% - 1px);
  transform: rotate(-135deg);
}
.menu-button-1 {
  display: flex;
  margin: 50px 0px 0px 200px;
}
.rese {
margin: -10px 0px 0px 30px;
}


.RESE-1 {
  color: #0000FF;
  font-size: 50px;

}


.favorite-heart {
  color: red;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.card[data-v-56ac30e2],
.search[data-v-56ac30e2] {
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.search[data-v-56ac30e2] {
  position: absolute;
  top: 45px;
  right: 100px;
  width: 600px;
  height: 50px;
  border-radius: 5px;
  display: flex;
}

.area[data-v-56ac30e2],
.genre[data-v-56ac30e2] {
  margin-top: 14px;
  margin-left: 15px;
}

select[data-v-56ac30e2] {
  border: none;
  padding-right: 15px;
  border-right: 1px solid #eee;
  background-color: #fff;
}

.check[data-v-56ac30e2] {
  font-size: 20px;
  vertical-align: middle;
  margin-top: 5px;
  margin-left: 15px;
  color: #eee;
}

input[data-v-56ac30e2] {
  height: 40px;
  border: none;
  margin-top: 3px;
  font-size: 15px;
  margin-left: 15px;
}